
<% former_decisions.each do |decision| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card-decision">

      <%= link_to decision_path(decision) do %>
        <div class="card-decision-title" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('<%= cl_image_path decision.photo,secure: true,  height: 400, crop: :fill %>');">
         <!--  <div class="vote-logo">
            <div class="triangle-topright tr-<%= decision.result %>">
              <#% if decision.result == "accepted" %>
                  <i class="far fa-thumbs-up"></i>
                <#% elsif decision.result == "rejected" %>
                  <i class="far fa-thumbs-down"></i>
                <#% else %>
                  <i class="far fa-clock"></i>
                <#% end %>
            </div>
          </div> -->
          <!-- <div class="final_vote"> -->
              <% if decision.result == "accepted" %>
                <span class="final_vote_index accept_card"> ACCEPTÉ </span>
              <% elsif decision.result == "rejected" %>
                <span class="final_vote_index reject_card"> REJETÉ </span>
              <% else %>
                <span class="final_vote_index deferred_card"> REPORTÉ </span>
              <% end %>
          <!-- </div> -->

          <h2 class="former-title"><%= decision.title %></h2>
        </div>
      <% end %>

      <div class="card-decision-infos">
        <div class="card-decision-infos-category">
          <%= link_to decision.category, decisions_path(category: decision.category), class: decision.category.downcase %>
          <%=  %>
        </div>
        <div class="vote">
          <% if decision.council_date > DateTime.now %>
            <div><a href="#"><i class="far fa-thumbs-up"></i></a></div>
            <div><a href="#"><i class="far fa-thumbs-down"></i></a></div>
          <% else %>
          <% end %>
        </div>
        <div class="votes-infos">
          <h4 class="text-center"><%= decision.votes.where.not(result:0).count %> </h4>
          <p class="text-center">votes</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
