<div class="container">
  <%= render 'shared/categories' %>

  <div class="decisions-intro">
    <div class="council-date-title">
      <h4>Prochain conseil municipal : <strong><%= l(@future_decisions.first.council_date, format: :long) %></strong>  <%= link_to '<i class="fas fa-print"></i>'.html_safe, pdf_pages_path(:format => :pdf) %> </h4>
    </div>
    <div class="your-votes">
      <p>Vous avez donné votre avis sur</p>
      <h4><span id="vote_counter"><%= @vote_counter%></span>/<%= Decision.future.count %></h4>
      <p>decisions</p>
    </div>

  </div>

    <hr>
  <div class="row" id="decisions-wrapper">
    <%= render 'decisions', future_decisions: @future_decisions %>
  </div>

  <hr>
</div>
