<div class="container">
  <div class="decisions-intro">
    <div><h2>Vote today!</h2>
      <h4>Next council meeting: <strong><%= @future_decisions.first.council_date.strftime("%B %C, %Y") %></strong></h4>
    </div>

    <div class="text-right">
      <p>You have voted for</p>
      <h4><%= @future_decisions.where.not(result: "pending").count %>/<%= @future_decisions.length %></h4>
      <p>decisions</p>
    </div>
  </div>

  <div class="categories-decisions">
    <%= link_to "Commerce", decisions_path(category: "Commerce"), class: "commerce" %>
    <%= link_to "Education", decisions_path(category: "Education"), class: "education" %>
    <%= link_to "Environment", decisions_path(category: "Environment"), class: "environment" %>
    <%= link_to "Public Works", decisions_path(category: "Public Works"), class: "public" %>
    <%= link_to "Transport", decisions_path(category: "Transport"), class: "transport" %>
    <%= link_to "Waste Management", decisions_path(category: "Waste Management"), class: "waste" %>
    <%= link_to "Show All", decisions_path, class: "btn-all" %>

  </div>

    <hr>
  <div class="row">
    <% @future_decisions.each do |decision| %>
      <div class="col-xs-12 col-sm-6 col-md-4">

        <div class="card-decision" id="decision-<%= decision.id %>">
          <%= link_to decision_path(decision) do %>
            <div class="card-decision-title" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path decision.photo, height: 200, crop: :fill %>');">

                <h2><%=decision.title %></h2>
            </div>
          <% end %>
          <div class="card-decision-infos">
            <div class="card-decision-infos-category">
              <%= link_to decision.category, decisions_path(category: decision.category), class: decision.category.downcase %>
              <%=  %>
            </div>
            <div class="vote">
              <div>
                <%= link_to accepted_vote_path(decision.votes.find_by(user: current_user)), remote: true do %>
                  <i class="far fa-thumbs-up <%= 'selected' if decision.votes.where(result: "accepted").find_by(user: current_user) %>" id="change_a"></i>
                <% end %>
              </div>
              <div>
                <%= link_to rejected_vote_path(decision.votes.find_by(user: current_user)), remote: true do %>
                  <i class="far fa-thumbs-down <%= 'selected' if decision.votes.where(result: "rejected").find_by(user: current_user) %> " id="change_r"></i>
                <% end %>
              </div>
              <!-- <div><a href="#"><i class="far fa-thumbs-up"></i></a></div>
              <div><a href="#"><i class="far fa-thumbs-down"></i></a></div> -->
            </div>
            <div class="votes-infos">
              <h4 class="text-center" id="decision-<%= decision.id %>-votes-count"><%= decision.votes_count %> </h4>
              <p class="text-center">votes</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr>
</div>
