<div class="container">
  <h1>Create a new decision</h1>

  <div class="new-decision-container">
    <%= simple_form_for ([@user, @decision]) do |f| %>

    <%= f.input :title, placeholder: "Title", label: false %>
    <%= f.input :category, placeholder: "Category", label: false %>
    <%= f.input :description, placeholder: "Description", label: false %>
    <%= f.input :result, placeholder: "0 for new; 1,2,3 for former", label: false %>
    <%= f.input :minutes, placeholder: "Minutes", label: false %>
    <%= f.input :town_id, placeholder: "Town id", label: false %>
    <%= f.input :council_date, placeholder: "Council date - new => 12/3/19, 12/02/19, 15/01,19, 11/12/18, 13/11/18, 16/10/18", label: false %>

    <%= f.file_field  :photo %>
    <%= f.button :submit %></div>


    <% end  %>
  </div>

</div>
