<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-card">
        <h3 class="text-center">Nouvelle décision</h3>

          <%= simple_form_for ([@user, @decision]) do |f| %>
          <div class="form-inputs">
          <%= f.input :title, placeholder: "Titre", label: false %>
          <%= f.input :category, collection: [["Environnement", 0], ["Finance",1],["Education", 2], ["Urbanisme",3],["Culture", 4], ["Logement",5]], placeholder: "Catégorie", label: false %>
          <%= f.input :description, as: :trix_editor %>
          <%= f.input :town_id, placeholder: "Ville id", label: false %>
          <%= f.input :council_date, placeholder: "Council date - new => 12/3/19, 12/02/19, 15/01,19, 11/12/18, 13/11/18, 16/10/18", label: false %>
          <%= f.file_field  :photo %>
          </div>
          <div class="form-actions">
          <%= f.button :submit, "Créez une décision", class: "btn-form" %>
          </div>
      </div>


        <% end  %>
    </div>
  </div>
</div>
