<div class="container">
<div class="show-banner" style="background-image: url('<%= @decision.photo.url %>')">


<%= link_to decisions_path do %>
<div class="back">
  <i class="fas fa-arrow-left"></i>
  <p>Back</p>
</div>
  <% end %>

  <div class="show-banner-card">

    <div class="info">
      <div class="category">
        <h3> <%= @decision.category %></h3>
      </div>

      <div class="votes-number">
        <h3><%= @decision.votes.count %>votes</h3>
      </div>
    </div>

    <h1> <%= @decision.title %> </h1>
    <% if @decision.future? %>
      <div class="vote show-votes">
        <a href="#"><i class="far fa-check-circle"></i></a>
        <a href="#"><i class="far fa-times-circle"></i></a>
      </div>
    <% end %>
  </div>
</div>

  <div class="body-show-description">
   <h1><%= @decision.description %></h1>
   <% if @decision.past? %>
    <ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Description</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Stats</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Minutes</a>
  </li>
</ul>
    <% end %>
  </div>

</div>
