<div class="container">
<div class="show-banner" style="background-image: url('<%= @decision.photo.url %>')">


<%= link_to decisions_path do %>
<div class="back">
  <i class="fas fa-arrow-left"></i>
  <p>Back</p>
</div>
  <% end %>

  <div class="show-banner-card">
    <h1> <%= @decision.title %> </h1>

    <div class="card-decision-infos">
      <div class="card-decision-infos-category <%= @decision.category.downcase %>">
        <%= @decision.category %>
      </div>
      <% if @decision.future? %>
      <div class="vote">
        <div><a href="#"><i class="far fa-thumbs-up"></i></a></div>
        <div><a href="#"><i class="far fa-thumbs-down"></i></a></div>
      </div>
      <% end %>
      <div class="votes-infos">
        <h4 class="text-center"><%= @decision.votes.count %> </h4>
        <p class="text-center">votes</p>
      </div>
    </div>
  </div>
</div>

  <div class="body-show-description">
   <h1><%= @decision.description %></h1>
   <% if @decision.past? %>
    <ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Description</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Stats</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Minutes</a>
  </li>
</ul>
    <% end %>
  </div>

</div>
