<div class="container">
  <div class="show-banner" style="background-image: url('<%= @decision.photo.url %>')">

      <% if @decision.future? %>
        <%= link_to decisions_path do %>
        <div class="back">
          <i class="fas fa-arrow-left"></i>
          <p>Back</p>
        </div>
      <% end %>
    <% else %>
      <%= link_to former_path do %>
        <div class="back">
          <i class="fas fa-arrow-left"></i>
          <p>Back</p>
        </div>
      <% end %>
    <% end %>


      <div class="final_vote">
        <% if @decision.past?  %>
          <% if @decision.result == "accepté" %>
            <p id="accept">DÉCISION ACCEPTÉE </p>
          <% else %>
            <p id="reject"> DÉCISION REJETÉE </p>
          <% end %>
        <% end %>
      </div>


    <div class="show-banner-card">
      <h1> <%= @decision.title %> </h1>
      <div class="card-decision-infos" id="decision-<%= @decision.id %>">
        <div class="card-decision-infos-category <%= @decision.category.downcase %>">
          <%= @decision.category %>
        </div>

        <% if @decision.future? %>
        <div class="vote" id="show-vote">
          <div>
            <%= link_to accepted_vote_path(@decision.votes.find_by(user: current_user)), remote: true do %>
              <i class="far fa-thumbs-up <%= 'selected' if @user_result=='accepted' %>" id="change_a"></i>
            <% end %>
          </div>

          <div>
            <%= link_to rejected_vote_path(@decision.votes.find_by(user: current_user)), remote: true do %>
              <i class="far fa-thumbs-down <%= 'selected' if @user_result=='rejected' %> " id="change_r"></i>
            <% end %>
          </div>
          <!-- <div><a href="#"></a></div> -->
          <!-- <div><a href="#"><i class="far fa-thumbs-down"></i></a></div> -->
        </div>
        <% end %>
        <div class="votes-infos">
          <h4 id="votes-count" class="text-center"><%= @decision.votes_count %> </h4>
          <p class="text-center">votes</p>
        </div>
      </div>
    </div>
  </div>


  <div class="body-show-description">
     <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a class="nav-link bdt-color-<%= @decision.category.downcase.gsub(" ", "-") %>" href="#description" role="tab" data-toggle="tab">Description</a>
      </li>
      <% if @decision.past? %>
      <li class="nav-item">
        <a class="nav-link bdt-color-<%= @decision.category.downcase.gsub(" ", "-") %>" href="#stats" role="tab" data-toggle="tab">Statistiques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bdt-color-<%= @decision.category.downcase.gsub(" ", "-") %>" href="#minutes" role="tab" data-toggle="tab">Compte-rendu</a>
      </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link bdt-color-<%= @decision.category.downcase.gsub(" ", "-") %>" href="#commentaires" role="tab" data-toggle="tab">Vos retours</a>
      </li>
    </ul>
  </div>

<!-- Tab panes -->

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active extra-padding" id="description">
      <h4><%= @decision.description %></h4>
    </div>

    <div role="tabpanel" class="tab-pane fade extra-padding" id="stats">
      <% if @decision.past? %>
        <%= render 'shared/stats_decision_show' %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade extra-padding" id="minutes">
      <h4><%= @decision.minutes %> </h4>
    </div>

    <div role="tabpanel" class="tab-pane fade extra-padding" id="commentaires">
      <div class="comment_title">
        <h3>Vos commentaires enrichissent les futures propositions du conseil municipal, merci de vos contributions.</h3>
      </div>

      <div class="comment_form">
        <%= simple_form_for [@decision, Comment.new ] do |f| %>
          <%= f.input :content, placeholder: "Laissez-nous votre avis", label:"Commentaires:"  %>
          <%= f.submit "Ajouter votre commentaire", class: "btn btn-primary" %>
        <% end %>
      </div>

      <div class="comment_list">
        <ul>
          <% @decision.comments.each do |comment| %>
            <li>
               <div id="comment_content">
                <div class="comment_user">
                  <%= comment.user.photo %> <%= comment.user.first_name %> <%= comment.user.last_name %>
                </div>
                <%= comment.content %>
               </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <hr>
</div>


