<div class="container">
  <div class="show-banner" style="background-image: url('<%= cl_image_path @decision.photo, secure: true; %>')">

      <% if @decision.future? %>
        <%= link_to decisions_path do %>
        <div class="back">
          <i class="fas fa-arrow-left"></i>
          <p>Back</p>
        </div>
      <% end %>
    <% else %>
      <%= link_to former_path do %>
        <div class="back">
          <i class="fas fa-arrow-left"></i>
          <p>Back</p>
        </div>
      <% end %>
    <% end %>

      <div class="final_vote">
        <% if @decision.past?  %>
          <% if @decision.result == "accepted" %>
            <p id="accept">DÉCISION ACCEPTÉE </p>
          <% elsif @decision.result == "rejected" %>
            <p id="reject"> DÉCISION REJETÉE </p>
          <% else %>
            <p id="deferred"> DÉCISION REPORTÉE </p>
          <% end %>
        <% end %>
      </div>


    <div class="show-banner-card">

      <h1>
        <% if current_user.id == Town.first.user_id %>
            <%= link_to "",edit_decision_path(@decision.id), class: "far fa-edit" %>
            <%= link_to "",decision_path(@decision.id), method: :delete, class: "far fa-trash-alt", data: {:confirm=>'Etes-vous certain de vouloir supprimer cette décision ?'} %>
        <% end %>
        <%= @decision.title.capitalize %>

      </h1>

      <div class="card-decision-infos-show" id="decision-<%= @decision.id %>">
        <div class="card-decision-infos-category <%= @decision.category.downcase %>">
          <%= @decision.category %>
        </div>
        <% if @decision.past? %>
          <div>
            <% if Vote.all.where(user_id: current_user).where(decision_id: @decision).first.result == 'accepted' %>
                <p class="your_vote">Votre Vote: <span class="your_vote_y">POUR</span></p></p>
           <% elsif Vote.all.where(user_id: current_user).where(decision_id: @decision).first.result == 'rejected' %>
                <p class="your_vote">Votre Vote: <span class="your_vote_n">CONTRE</span></p>
            <% else %>
                <p class="your_vote">Vous n'avez pas voté</p>
            <% end %>
          </div>
        <% end %>

        <% if @decision.future? %>
        <div class="vote" id="show-vote">
          <div>
            <%= link_to accepted_vote_path(@decision.votes.find_by(user: current_user)), remote: true do %>
              <i class="far fa-thumbs-up <%= 'selected' if @user_result=='accepted' %>" id="change_a"></i>
            <% end %>
          </div>

          <div>
            <%= link_to rejected_vote_path(@decision.votes.find_by(user: current_user)), remote: true do %>
              <i class="far fa-thumbs-down <%= 'selected' if @user_result=='rejected' %> " id="change_r"></i>
            <% end %>
          </div>
          <!-- <div><a href="#"></a></div> -->
          <!-- <div><a href="#"><i class="far fa-thumbs-down"></i></a></div> -->
        </div>
        <% end %>
        <div class="votes-infos">
          <h4 id="votes-count" class="text-center"><%= @decision.votes_count %></h4>
          <p class="text-center">votes</p>
        </div>
      </div>
    </div>
  </div>


  <div class="body-show-description">
     <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
          <a class="nav-link bdt-color-<%= @decision.category.downcase.gsub(" ", "-") %>" href="#description" role="tab" data-toggle="tab">Description</a>
      </li>
      <% if @decision.past? %>
      <li class="nav-item">
        <a class="nav-link bdt-color-<%= @decision.category.downcase.gsub(" ", "-") %>" href="#stats" role="tab" data-toggle="tab">Statistiques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bdt-color-<%= @decision.category.downcase.gsub(" ", "-") %>" href="#minutes" role="tab" data-toggle="tab">Compte-rendu</a>
      </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link bdt-color-<%= @decision.category.downcase.gsub(" ", "-") %>" href="#commentaires" role="tab" data-toggle="tab">Vos retours</a>
      </li>
    </ul>
  </div>

<!-- Tab panes -->

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active extra-padding" id="description">

      <p class="text-design justify"><%= @decision.description.html_safe %></p>

    </div>

    <div role="tabpanel" class="tab-pane fade extra-padding" id="stats">
      <% if @decision.past? %>
        <%= render 'shared/stats_decision_show' %>
      <% end %>
    </div>

    <div role="tabpanel" class="tab-pane fade extra-padding" id="minutes">

      <p class="text-design justify"><%= @decision.minutes.html_safe %> </p>

    </div>

    <div role="tabpanel" class="tab-pane fade extra-padding" id="commentaires">
      <div class="comment_title">
        <p class="text-design justify">Vos commentaires enrichissent les futures propositions du conseil municipal, merci de vos contributions.</p>
      </div>

      <div class="comment_form">
        <%= render 'form', decision: @decision, comment: @comment %>
      </div>
      <div id='commentslist'>
        <% @decision.comments.order('created_at DESC').each do |comment| %>
          <%= render 'comment', comment: comment %>
      <% end %>
    </div>
  </div>
  <hr>
</div>



