<div class="content">
  <div class="container">

    <h3>Bonjour <%= @user.first_name %>, vous avez voté <strong><%= @user.votes.with_results.count %></strong> fois !</h3>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="chart-container">
          <h4>Vous êtes d'accord avec :</h4>
          <div class="text-center">le conseil municipal <strong><%= @user_council_accord %>%</strong> du temps.</div>

           <div class="text-center">le public <strong><%= @user_public_accord %>%</strong> du temps.</div>
           <br>

          <% hash_votes = {"En accord avec le conseil" => @user_council_accord, "En accord avec le public" => @user_public_accord } %>
          <div class="categories-chart">
            <%= bar_chart hash_votes, max: 100, colors: ["#EE5F5B"], height: "200px" %>
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-6">
        <div class="chart-container">
          <h4>Votre catégorie préferée</h4>
          <div class="text-center">La catégorie pour laquelle vous avez la plus votée : <strong><%= @user_top_category %></strong>
            (<%= @user_top_category_number_of_votes %>% de vos votes)
          </div>

          <div class="categories-chart">
            <%= column_chart @user_categories, colors: ["#62BDE9"], height: "300px" %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="chart-container">
          <h4>Accepter, réfuser, quelle est votre tendance ?</h4>
            <div>Vous avez accepté <strong><%= Vote.of(@user).with_results.group(:result).count["accepté"] %></strong> décisions et refusé <strong><%= Vote.of(@user).with_results.group(:result).count["refusé"] %></strong> décisions :
            </div>
            <div class="pie-chart-container">
              <div class="pie-chart-legend">
                <div class="legend-all legend-finance">Accepté</div>
                <div class="legend-all legend-culture">Refusé</div>
              </div>
              <div class='accepted-rejected'>
                <%= pie_chart Vote.of(@user).with_results.group(:result).count, height: "200px", colors: ["#8380B6", "#D34286", "#FDB631"], legend: false %>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="chart-container">
          <h4>Quand est-ce que vous avez voté ?</h4>
          <div>Nombre de votes par date :</div>
          <div class="graph-council-dates">
            <%= line_chart Vote.of(@user).with_results.joins(:decision).group(:council_date).count, height: "200px", colors: ["#32B796"] %>
          </div>
        </div>
      </div>

    </div>
    <hr>
  </div>
</div>
