<div class="content">
  <div class="container">

    <h3>Bonjour <%= @user.first_name %>, vous avez voté pour <strong><%= @user.votes.with_results.count %></strong> propositions!</h3>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="chart-container">
          <h4>En accord avec :</h4>
          <div class="text-center">Le conseil municipal <strong><%= @user_council_accord.round %>%</strong> du temps.</div>

           <div class="text-center">La population <strong><%= @user_public_accord.round %>%</strong> du temps.</div>
           <br>

          <% hash_votes = {"En accord avec le conseil" => @user_council_accord, "En accord avec la population" => @user_public_accord } %>
          <div class="categories-chart">
            <%= bar_chart hash_votes, max: 100, colors: ["#8380B6"], suffix: "%", height: "200px" %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="chart-container">
          <h4>Vos votes par catégorie</h4>
          <div class="text-center">La catégorie pour laquelle vous avez la plus votée : <strong><%= @user_top_category %></strong>
            (<%= @user_top_category_number_of_votes.round %>% de vos votes)
          </div>

          <div class="categories-chart">
            <%= column_chart @user_categories, colors: ["#FDB631"], height: "300px" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="chart-container">
          <h4>Vos choix</h4>
            <div class="text-center">Vous avez voté pour <strong><%= Vote.of(@user).with_results.group(:result).count["accepted"] %></strong> propositions et contre <strong><%= Vote.of(@user).with_results.group(:result).count["rejected"] %></strong> propositions :
            </div>
            <div class="pie-chart-container">
              <div class="pie-chart-legend">
                <div class="legend-all legend-environment">Accepté</div>
                <div class="legend-all legend-education">Refusé</div>
              </div>

              <div class='accepted-rejected'>
                <%= pie_chart Vote.of(@user).with_results.group(:result).count, height: "200px", colors: ["#32B796","#EE5F5B", "#FDB631"], legend: false %>
              </div>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="chart-container">
          <h4>Vos votes par date</h4>
          <div>Nombre de votes par conseil municipal :</div>
          <div class="graph-council-dates">
            <%= column_chart Vote.of(@user).with_results.joins(:decision).group(:council_date).count.sort_by{|k,v| k.strftime("%b %d, %Y")}, height: "200px", colors: ["#D34286"], points: false%>
          </div>
        </div>
      </div>
    </div>


    <hr>
  </div>
</div>
