<div class="content">
  <div class="container">

      <h3>Hi <%= @user.first_name %>, here are your stats:</h3>

      <div class='dashboard-group'>
        You have voted <strong><%= @user.votes.with_results.count %></strong> times (accepted: <%= Vote.of(@user).with_results.group(:result).count["accepted"] %>, rejected: <%= Vote.of(@user).with_results.group(:result).count["rejected"] %>):
        <hr>
        <div class="votes-global">
          <div class="graph-council-dates">
            <%= line_chart Vote.of(@user).with_results.joins(:decision).group(:council_date).count, height: "200px", colors: ["#32B796"] %>
          </div>

          <div class="chart-container">
            <div class="pie-chart-legend">
              <div class="legend-all legend-commerce">Accepted</div>
              <div class="legend-all legend-transport">Rejected</div>
            </div>
            <div class='accepted-rejected'>
              <%= pie_chart Vote.of(@user).with_results.group(:result).count, height: "200px", colors: ["#8380B6", "#D34286", "#FDB631"], legend: false %>
            </div>
          </div>
        </div>
      </div>


      <div class="dashboard-group">
        The category for which you most voted is: <strong><%= Vote.of(@user).with_results.joins(:decision).group(:category).count.sort_by {|k,v| v}.reverse.first[0] %></strong> (<%= ((Vote.of(@user).with_results.joins(:decision).group(:category).count.sort_by {|k,v| v}.reverse.first[1].to_f / @user.votes.with_results.count.to_f)*100).round(2) %>% of your votes)
        <hr>

          <!-- <div class="pie-chart-legend">
            <div class="legend-all legend-commerce">Commerce</div>
            <div class="legend-all legend-education">Education</div>
            <div class="legend-all legend-environment">Environment</div>
            <div class="legend-all legend-public-works">Public Works</div>
            <div class="legend-all legend-transport">Transport</div>
            <div class="legend-all legend-waste-mgmt">Waste management</div>
          </div> -->
          <div class="chart-container">
            <div class="categories-chart">
              <%= column_chart Vote.of(@user).with_results.joins(:decision).group(:category).count.sort_by {|k,v| v}.reverse, colors: ["#62BDE9"], height: "300px" %>
            </div>
          </div>

      </div>


  <p>You agree with the council: <strong><%= ((Vote.of(@user).with_results.select { |vote| vote.result == vote.decision.result }.count.to_f /  @user.votes.with_results.count.to_f)*100).round(2)%>%</strong> of the time.
  You agree with the public: <strong><%= ((Vote.of(@user).with_results.select { |vote| vote.result == vote.decision.votes.group(:result).count.max[0] }.count.to_f /  @user.votes.with_results.count.to_f)*100).round(2)%>%</strong> of the time.</p>

<hr>



<% hash_votes = {"Agreed with council" => ((Vote.of(@user).with_results.select { |vote| vote.result == vote.decision.result }.count.to_f /  @user.votes.with_results.count.to_f)*100).round(2), "Agreed with public" => ((Vote.of(@user).with_results.select { |vote| vote.result == vote.decision.votes.group(:result).count.max[0] }.count.to_f /  @user.votes.with_results.count.to_f)*100).round(2) } %>
  <div class="chart-container">
    <div class="categories-chart">
    <%= bar_chart hash_votes, max: 100, colors: ["#EE5F5B"], height: "200px" %>
    </div>
  </div>

<%#= bar_chart ((Vote.of(@user).with_results.select { |vote| vote.result == vote.decision.result }.count.to_f /  @user.votes.with_results.count.to_f)*100).round(2), ((Vote.of(@user).with_results.select { |vote| vote.result == vote.decision.votes.group(:result).count.max[0] }.count.to_f /  @user.votes.with_results.count.to_f)*100).round(2), colors: ["#EE5F5B"]

%>
<hr>

  </div>
</div>
