<div class="slider">
  <% Decision.future.first(3).each do|decision| %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path decision.photo, secure: true %>')">
        <div class="banner-countdown">
          <%= link_to decisions_path do %>
            <h3>
              <i class="far fa-calendar-alt"></i>
              J-<%= (decision.council_date - Date.today).to_i%> avant le prochain conseil municipal
            </h3>
          <% end %>
        </div>
        <div class="banner-content">
          <div class="banner-buttons">
            <h2><%= link_to "Prochaines Décisions", decisions_path, class: "btn-category-decisions" %></h2>
            <h2><%= link_to decision.category, decisions_path, class: "btn-category banner-margin home-#{decision.category.downcase}" %>
            </h2>
          </div>
          <%= link_to decisions_path do %>
            <div class="white-background">
              <h3><%= decision.title %></h3>
              <p><%= decision.description %></p>
            </div>
          <% end %>
          <div class="call_to_action text-center">

          </div>
        </div>
    </div>
  <% end %>

  <div class="banner" style="background-image: linear-gradient(rgba(40,40,40,0.7), rgba(40,40,40,0.7)), url('<%= image_path "image_banner.jpg", secure: true %>')">
    <div class="last-card">
      <div class="banner-countdown">
          <h3>
            <i class="far fa-calendar-alt"></i>
            J-<%= (Decision.future.first.council_date - Date.today).to_i%> avant le prochain conseil municipal
          </h3>
          <div class="decision_banner">
            <%= link_to 'En savoir plus', decisions_path, class: "btn btn-category" %>
          </div>
      </div>
    </div>
  </div>

</div>

