<div class="categories-decisions">
  <div class="navbar-decisions">
  <% if request.env['PATH_INFO'] == decisions_path %>
  <%= link_to "Commerce", decisions_path(category: "Commerce"), class: "commerce" %>
  <%= link_to "Education", decisions_path(category: "Education"), class: "education" %>
  <%= link_to t("category.environment"), decisions_path(category: "Environment"), class: "environment" %>
  <%= link_to "Works", decisions_path(category: "Works"), class: "works" %>
  <%= link_to "Transport", decisions_path(category: "Transport"), class: "transport" %>
  <%= link_to "Waste", decisions_path(category: "Waste"), class: "waste" %>
  <%= link_to "Show All", decisions_path, class: "btn-all" %>

<% else %>
  <%= link_to "Commerce", former_path(category: "Commerce"), class: "commerce" %>
  <%= link_to "Education", former_path(category: "Education"), class: "education" %>
  <%= link_to t("category.environment"), former_path(category: "Environment"), class: "environment" %>
  <%= link_to "Works", former_path(category: "Works"), class: "works" %>
  <%= link_to "Transport", former_path(category: "Transport"), class: "transport" %>
  <%= link_to "Waste", former_path(category: "Waste"), class: "waste" %>
  <%= link_to "Show All", former_path, class: "btn-all" %>
<% end %>
  </div>
   <%= render 'shared/searchbar' %>
</div>

