<div class="categories-decisions">
  <div class="navbar-decisions">
  <% if request.env['PATH_INFO'] == decisions_path %>
  <%= link_to "Finance", decisions_path(category: "Finance"), class: "finance" %>
  <%= link_to "Education", decisions_path(category: "Education"), class: "education" %>
  <%= link_to t("category.environment"), decisions_path(category: "Environment"), class: "environment" %>
  <%= link_to "Urbanisme", decisions_path(category: "Works"), class: "works" %>
  <%= link_to "Culture", decisions_path(category: "Culture"), class: "culture" %>
  <%= link_to "Logement", decisions_path(category: "Housing"), class: "housing" %>
  <%= link_to "Tout voir", decisions_path, class: "btn-all" %>

<% else %>
  <%= link_to "Finance", former_path(category: "Finance"), class: "finance" %>
  <%= link_to "Education", former_path(category: "Education"), class: "education" %>
  <%= link_to t("category.environment"), former_path(category: "Environment"), class: "environment" %>
  <%= link_to "Urbanisme", former_path(category: "Works"), class: "works" %>
  <%= link_to "Culture", former_path(category: "Culture"), class: "culture" %>
  <%= link_to "Logement", former_path(category: "Housing"), class: "housing" %>
  <%= link_to "Tout voir", former_path, class: "btn-all" %>

<% end %>
  </div>
   <%= render 'shared/searchbar' %>
</div>

