<div class="categories-decisions hidden-xs">
  <div class="navbar-decisions">
  <% if request.env['PATH_INFO'] == decisions_path %>
  <%= link_to "Commerce", decisions_path(category: "Commerce"), class: "commerce" %>
  <%= link_to "Education", decisions_path(category: "Education"), class: "education" %>
  <%= link_to "Environment", decisions_path(category: "Environment"), class: "environment" %>
  <%= link_to "Works", decisions_path(category: "Works"), class: "works" %>
  <%= link_to "Transport", decisions_path(category: "Transport"), class: "transport" %>
  <%= link_to "Waste", decisions_path(category: "Waste"), class: "waste" %>
  <%= link_to "Show All", decisions_path, class: "btn-all" %>

<% else %>
  <%= link_to "Commerce", former_path(category: "Commerce"), class: "commerce" %>
  <%= link_to "Education", former_path(category: "Education"), class: "education" %>
  <%= link_to "Environment", former_path(category: "Environment"), class: "environment" %>
  <%= link_to "Works", former_path(category: "Works"), class: "works" %>
  <%= link_to "Transport", former_path(category: "Transport"), class: "transport" %>
  <%= link_to "Waste", former_path(category: "Waste"), class: "waste" %>
  <%= link_to "Show All", former_path, class: "btn-all" %>
<% end %>
  </div>
   <%= render 'shared/searchbar' %>
</div>


<div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown-black">
      <div class="dropdown-title">
        <div>Catégorie</div>
        <div><i class="fa fa-bars dropdown-toggle" data-toggle="dropdown-black"></i></div>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Commerce", decisions_path(category: "Commerce") %></li>
        <li><%= link_to "Education", decisions_path(category: "Education") %></li>
        <li><%= link_to "Environment", decisions_path(category: "Environment") %></li>
        <li><%= link_to "Transport", decisions_path(category: "Transport")%></li>
        <li><%= link_to "Waste", decisions_path(category: "Waste") %></li>
        <li><%= link_to "Show All", decisions_path %></li>
      </ul>
    </div>
  </div>
</div>




