<div class="categories-decisions hidden-xs">
  <div class="navbar-decisions">
  <% if request.env['PATH_INFO'] == decisions_path %>
  <%= link_to "Finance", decisions_path(category: "Finance"), class: "finance", remote: true %>
  <%= link_to "Education", decisions_path(category: "Education"), class: "education", remote: true %>
  <%= link_to "Environnement", decisions_path(category: "Environnement"), class: "environnement", remote: true %>
  <%= link_to "Urbanisme", decisions_path(category: "Urbanisme"), class: "urbanisme", remote: true %>
  <%= link_to "Culture", decisions_path(category: "Culture"), class: "culture", remote: true %>
  <%= link_to "Logement", decisions_path(category: "Logement"), class: "logement", remote: true %>
  <%= link_to "Tout voir", decisions_path, class: "btn-all", remote: true %>

<% else %>
  <%= link_to "Finance", former_path(category: "Finance"), class: "finance", remote: true %>
  <%= link_to "Education", former_path(category: "Education"), class: "education", remote: true %>
  <%= link_to "Environnement", former_path(category: "Environnement"), class: "environnement", remote: true %>
  <%= link_to "Urbanisme", former_path(category: "Urbanisme"), class: "urbanisme", remote: true %>
  <%= link_to "Culture", former_path(category: "Culture"), class: "culture", remote: true %>
  <%= link_to "Logement", former_path(category: "Logement"), class: "logement", remote: true %>
  <%= link_to "Tout voir", former_path, class: "btn-all", remote: true %>

<% end %>
  </div>
   <%= render 'shared/searchbar' %>
</div>


<div class="categories-decisions hidden-sm hidden-md hidden-lg">
  <div class="navbar-decisions">
    <% if request.env['PATH_INFO'] == decisions_path %>
      <div class='extra-padding'>
        <%= link_to "Finance", decisions_path(category: "Finance"), class: "finance", remote: true %>
        <%= link_to "Education", decisions_path(category: "Education"), class: "education", remote: true %>
        <%= link_to "Environnement", decisions_path(category: "Environnement"), class: "environnement", remote: true %>
      </div>
      <div class='extra-padding'>
        <%= link_to "Urbanisme", decisions_path(category: "Urbanisme"), class: "urbanisme", remote: true %>
        <%= link_to "Culture", decisions_path(category: "Culture"), class: "culture", remote: true %>
        <%= link_to "Logement", decisions_path(category: "Logement"), class: "logement", remote: true %>
      </div>
    <% else %>
      <div class='extra-padding'>
        <%= link_to "Finance", former_path(category: "Finance"), class: "finance", remote: true %>
        <%= link_to "Education", former_path(category: "Education"), class: "education", remote: true %>
        <%= link_to "Environnement", former_path(category: "Environnement"), class: "environnement", remote: true %>
      </div>
      <div class='extra-padding'>
        <%= link_to "Urbanisme", former_path(category: "Urbanisme"), class: "urbanisme", remote: true %>
        <%= link_to "Culture", former_path(category: "Culture"), class: "culture", remote: true %>
        <%= link_to "Logement", former_path(category: "Logement"), class: "logement", remote: true %>
      </div>
    <% end %>
  </div>
  <div class='extra-padding search-responsive'>
    <%= render 'shared/searchbar' %>
  </div>

</div>
