<div class="categories-decisions">
  <div class="navbar-decisions">
  <% if request.env['PATH_INFO'] == decisions_path %>
  <%= link_to t("category.finance"), decisions_path(category: "Finance"), class: "finance" %>
  <%= link_to t("category.education"), decisions_path(category: "Education"), class: "education" %>
  <%= link_to t("category.environment"), decisions_path(category: "Environment"), class: "environment" %>
  <%= link_to t("category.works"), decisions_path(category: "Works"), class: "works" %>
  <%= link_to t("category.culture"), decisions_path(category: "Culture"), class: "culture" %>
  <%= link_to t("category.housing"), decisions_path(category: "Housing"), class: "housing" %>
  <%= link_to t("category.show_all"), decisions_path, class: "btn-all" %>

<% else %>
  <%= link_to t("category.finance"), former_path(category: "Finance"), class: "finance" %>
  <%= link_to t("category.education"), former_path(category: "Education"), class: "education" %>
  <%= link_to t("category.environment"), former_path(category: "Environment"), class: "environment" %>
  <%= link_to t("category.works"), former_path(category: "Works"), class: "works" %>
  <%= link_to t("category.culture"), former_path(category: "Culture"), class: "culture" %>
  <%= link_to t("category.housing"), former_path(category: "Housing"), class: "housing" %>
  <%= link_to t("category.show_all"), former_path, class: "btn-all" %>

<% end %>
  </div>
   <%= render 'shared/searchbar' %>
</div>

