<!-- <div class="navbar-wagon"> <%= yield(:navbar_class) %>"> -->
<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <div class="logo">
    <%= image_tag "votre_vote.png", height: 50 %>
    <div class="brand-name">
      <span>otre </span>
      <span class= "logo-vote">Vote</span>
    </div>
    <div class="logo-city hidden-xs">
      <i class="fas fa-map-pin"></i> Villemur-sur-Tarn
    </div>
  </div>
  <% end %>

  <!-- Right Navigation -->
  <% if user_signed_in? %>
    <div class="navbar-wagon-right hidden-xs">
      <!-- Links when logged in -->
        <%= link_to "Prochaines décisions", decisions_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Mon tableau de bord", user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Anciennes décisions", former_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= cl_image_tag current_user.photo, secure: true, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li> <%= link_to "Prochaines décisions", decisions_path %> </li>
            <li><%= link_to "Mon tableau de bord", user_path(current_user) %></li>
            <li><%= link_to "Anciennes décisions", former_path %></li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profil") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Réglages") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
              <% end %>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-sm hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li> <%= link_to "Prochaines décisions", decisions_path %> </li>
          <li><%= link_to "Mon tableau de bord", user_path(current_user) %></li>
          <li><%= link_to "Anciennes décisions", former_path %></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Déconnexion") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

  <% else %>
      <!-- Login link (when logged out) -->
    <div class="navbar-wagon-right">
      <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
  <% end %>
</div>


