<%= content_for(:navbar_class, "navbar-home") %>
<div class="container">
  <%= render 'shared/banner' %>
  <h2 class="home-title">Derniers conseils municipaux</h2>
  <div class="row">
    <% Decision.dates.first(3).each_with_index do |array, index| %>
    <% photo_address = ["vote_banner.jpg","echarpe.jpg","vote_main.jpg"] %>
    <% puts index %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-home">
        <%= link_to former_path(council_date: array) do %>
          <div class="card-home-display">
            <div class="card-product">
              <%= image_tag photo_address[index], secure: true %>
              <div class="card-product-infos">
                <h2>Conseil municipal du <br> <%= l(array, format: :long) %></h2>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
