<%= content_for(:navbar_class, "navbar-home") %>
<div class="container">
<%= render 'shared/banner' %>

  <h2>Dernier conseils municipaux</h2>
  <div class="card-home">
      <div class="card-home-display">
        <%= render 'shared/cards' %> <!-- Add link_to to card path -->
      </div>
      <div class="card-home-display">
        <%= render 'shared/cards' %> <!-- Add link_to to card path -->
      </div>
      <div class="card-home-display">
        <%= render 'shared/cards' %> <!-- Add link_to to card path -->
      </div>
  </div>
  <h2>Preview de la grid index</h2>

</div>
