<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VotreVote | Participez au prochain conseil municipal de votre ville</title>
    <meta name="description" content="VotreVote est un plateforme dédié aux communes pour faire participer les citoyens dans les décisions de la ville.">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
  <!--   <script src="/path/to/Chart.bundle.js"></script>
    <script src="chartkick.js"></script> -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <meta property="og:title" content="VotreVote - Participez aux décisions locales de votre communauté">
    <meta property="og:image" content="facebook-card.jpg">
    <meta property="og:description" content="VotreVote permet aux citoyens de participer activement dans les décisions locales de leurs villes.">
    <meta property="og:site_name" content="VotreVote"/>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="background content">
      <%= yield %>
    </div>
      <%= render 'shared/footer' %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
      <%= yield :charts_js %> <!-- Rails -->
  </body>
</html>
